/* 21 Sep 2022  */

body {
    padding: 20px;
    background-color: #2E3047;
}

h1 {
    /* text-align: center; */
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    /* text-shadow: 2px 2px 5px #292929; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-weight: bold; */
    /* font-style: oblique; */

    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-family: Impact, serif;
}

.col-12 {
    width: 80%;
    background-color: #3C3F58;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.label {
    margin-right: -9em;
}

.input {
    margin-left: 10em;
}

.col-auto {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 1px;
    align-items: center;
    justify-content: center;
}

.signup {
    text-align: center;
}

.signUpBtn {
    margin: 1em;
}

.login {
    text-align: center;
}

.loginBtn {
    margin: 1em;
}

hr {
    height: 10em;
    background-color: black;
    border-color: black;
}

.myHome{
    background-color: #F6F6F2;
}

/* end  */

h2 {
    text-align: center;
}

h4 {
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
    font-style: oblique;
    color: grey;
}

h5 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
    font-style: oblique;
    color: grey;
}

img {
    height: 8em;
    width: 11em;
    text-align: center;
    margin: auto;
    display: block;

}

.allMovies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
}

.userPlaylist {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
}

.movies {
    flex: 1;
    background-color: #F6F6F2;
    border: 2px solid #2D3E4E;
    padding: 1em;
    margin: 0.25em;
    border-radius: 0.5em;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.myFaveMovies {
    flex: 1;
    background-color: #F6F6F2;
    border: 2px solid #2D3E4E;
    padding: 1em;
    margin: 0.25em;
    border-radius: 0.5em;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.faveMovies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
}

.addBtn {
    margin-top: 1em;
    background-color: green;
    color: white;
    border-radius: 7px;
    padding: 4px 10px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
}

.deleteBtn {
    margin-top: 1em;
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 3px 9px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

.myHome {
    margin-bottom: 2em;
}

::placeholder {
    text-align: center;
}