h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    text-shadow: 2px 2px 5px white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: oblique;
}

h2 {
    text-align: center;
}

h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    height: 10em;
    width: 12em;
    text-align: center;
    margin: auto;
    display: block;

}

.allMovies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
}

.movies {
    flex: 1;
    background-color: #F6F6F2;
    border: 2px solid #2D3E4E;
    padding: 1em;
    margin: 0.25em;
    border-radius: 0.5em;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.myFaveMovies {
    flex: 1;
    background-color: #F6F6F2;
    border: 2px solid #2D3E4E;
    padding: 1em;
    margin: 0.25em;
    border-radius: 0.5em;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

::placeholder {
    text-align: center;
}

.faveMovies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
}

.addBtn {
    margin-top: 1em;
    background-color: green;
    color: white;
    border-radius: 12px;
    padding: 7px 13px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

.myHome {
    margin-bottom: 2em;
}

.userPlaylist {
    margin: 2em;
}

.deleteBtn {
    background-color: red;
    color: white;
    border-radius: 12px;
    padding: 8px 14px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

/* .feedback{
    font-size: 3em;
} */